:root {
  --clr-orange: hsl(31, 77%, 52%);
  --clr-dark-cyan: hsl(184, 100%, 22%);
  --clr-darker-cyan: hsl(179, 100%, 13%);
  --clr-white-75: hsla(0, 0%, 100%, 0.75);
  --clr-light-gray: hsl(0, 0%, 95%);

  --bp-lg: 1024px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-light-gray);
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
}

/* Utilities */
.bg-orange {
  background-color: var(--clr-orange);
}

.bg-dark-cyan {
  background-color: var(--clr-dark-cyan);
}

.bg-darker-cyan {
  background-color: var(--clr-darker-cyan);
}

.text-orange {
  color: var(--clr-orange);
}

.text-dark-cyan {
  color: var(--clr-dark-cyan);
}

.text-darker-cyan {
  color: var(--clr-darker-cyan);
}

/* Card */
.card-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.card-group > .card {
  width: 100%;
  padding: 2.5rem;
  color: var(--clr-white-75);
}

.card:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card__header {
  margin-bottom: 1.5rem;
}

.card__header .icon {
  width: 54px;
  height: 34px;
  margin-bottom: 1.5rem;
}

.card__header h4 {
  color: var(--clr-light-gray);
  font-size: 2rem;
  font-family: "Big Shoulders Display", cursive;
}

.card__body p {
  margin-bottom: 1.5rem;
}

.btn {
  padding: 0.8rem 1.8rem;
  font-size: 0.9rem;
  font-family: inherit;
  background-color: var(--clr-light-gray);
  border: 1px solid var(--clr-light-gray);
  border-radius: 10rem;
  transition: all 0.15s ease;
  transition-property: color, background-color;
}

.btn.active,
.btn:hover,
.btn:focus {
  color: var(--clr-white-75);
  background-color: transparent;
  cursor: pointer;
}
/* End of Card */

/* Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
/* End of Attribution */
